# for local development
#DATABASE_URL="postgres://admin:password@localhost:5432/"

# for containerization
DATABASE_URL="postgres://admin:password@postgres:5432/"
DOMAIN=https://ft-transcendence.io
CLIENT_ID=ljahsdflhjlahsdf
CLIENT_SECRET=jashdfljasbdfljabsdf
JWT_SECRET=amjamjamamnanaa
JWT_REFRESH_SECRET=lkfdkjfsdklfdslknfdslkn
