# for local development
#DATABASE_URL="postgres://admin:password@localhost:5432/"

# for containerization
DATABASE_URL="postgres://admin:password@postgres:5432/"
DOMAIN="YOUR_DOMAIN"
CLIENT_ID="YOUR_CLIENT_ID"
CLIENT_SECRET="YOUR_CLIENT_SECRET"
JWT_SECRET="jwt_secret"
JWT_REFRESH_SECRET="jwt_refresh_secret"
