// General
$color-primary: #1d3c45;
$color-accent: #d2601a;
$color-secondary: #fff1e1;
$color-secondary-light: #fffaf2;
$white: #fff;
// Avatar Badge Style
$color-online: #44b700;
$color-playing: #ff0000;
$color-offline: #808080;
