@import "./assets/css/colors.scss";

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorSecondaryLight: $color-secondary-light;
  colorAccent: $color-accent;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
